<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoxHhZG43o8cT3iyL4eAZZzpLOBOYn_lA</string>
	<key>GCM_SENDER_ID</key>
	<string>1037460954730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rays.eCommerce.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pehchankidukan-24b1a</string>
	<key>STORAGE_BUCKET</key>
	<string>pehchankidukan-24b1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037460954730:ios:342ee4766e57c5b218f413</string>
</dict>
</plist>